annotated-types==0.7.0
celery==5.3.6
django-redis==5.4.0
redis==5.0.1
asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
dj-database-url==3.0.1
Django==4.2.7
djangorestframework==3.14.0
gunicorn==23.0.0
groq==0.37.1
idna==3.10
Jinja2==3.1.6
joblib==1.5.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.7.0
mysql-connector-python==9.4.0
numpy==2.2.6
packaging==25.0
pillow==11.3.0
platformdirs==4.4.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
python-decouple==3.8
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
requests==2.32.5
rich==14.1.0
scikit-learn==1.7.1
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
wrapt==1.17.3
